.main {
  height: 75px;
  width: 100%;
  background-color: #2645e6;
  padding: 10px 40px;
  position: fixed;
  z-index: 99;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hidden {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  display: none;
}

._1stChild {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.phoneNumberContainer {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem; /* 375% */
  text-transform: uppercase;
  margin: 0 10px;
}

.demoButton {
  height: 47px;
  width: 244px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border: 1.5px solid #fff;
  margin: 0 10px;
}

.demoButton:hover {
  color: #2645e6;
  background: #fff;
  animation: opacity linear 300ms;
}

@keyframes opacity {
  0% {
    background: #2645e6;
  }
  100% {
    background: #4f68e9;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
