@use '../../../theme/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.form {
  &__wrapper {
    display: block;
    max-width: 455px;
    position: relative;
    flex-shrink: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 42px 37px 35px;
    transition: flex-basis 500ms ease-in-out;
    @media (max-width: 500px) {
      padding: 31px;
      height: calc(100vh - 6.25rem);
    }
    .badge {
      height: 102px;
      position: absolute;
      top: -50px;
      width: 102px;
      border-radius: 100%;
      background-color: #84cfb1;
      color: white;
      font-size: 45px;
      text-align: center;
      font-weight: 800;
      display: flex;
      justify-content: center;
      border: 4px solid white;
      align-items: center;
    }
  }

  &__title {
    margin: 0 auto;
    position: relative;
    width: 100%;
    text-align: center;
    color: #222;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  &__subtitle {
    margin-top: 28px;
    color: #222;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
    text-align: center;
  }

  &__actionLabel {
    color: var(--primary-black-primary-black, #293641);
    text-align: center;
    margin-top: 25px !important;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 225% */
    letter-spacing: 1.73px;
    text-decoration: none !important;
    text-decoration-line: none !important;
    transition: ease-in-out 0.5s;
  }

  &__cta {
    color: var(--primary-black-primary-black, #293641);
    text-align: center;
    margin-top: 25px !important;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 225% */
    letter-spacing: 1.73px;
    text-decoration-line: underline;
    transition: ease-in-out 0.5s;

    &:hover {
      transition: ease-in-out 0.5s;
      color: var(--primaryColor);
      cursor: pointer;
    }
  }

  &__button {
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1.5px solid #f92f65;
    background: #f92f65;
    margin-top: 30px;
    height: 50px !important;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 192.857% */
    letter-spacing: 1.73px;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;

    &:hover {
      transition: ease-in-out 0.5s;
      background-color: lighten($color: #f92f65, $amount: 15%);
      border: 1.5px solid lighten($color: #f92f65, $amount: 15%);
      cursor: pointer;
    }
  }

  &__button__disabled {
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1.5px solid var(--lightGreyColor);
    background: var(--lightGreyColor);
    margin-top: 30px;
    height: 50px !important;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 192.857% */
    letter-spacing: 1.73px;
    text-transform: uppercase;
  }
}
