html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* the slides */
.slick-slide {
  margin: 0 16px;
}

/* the parent */
.slick-list {
  margin: 0 -16px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-prev {
  position: absolute !important;
  left: 44% !important;
  top: 118% !important;
  width: 73px !important;
  height: 74px !important;
}

/* .slick-next:before {
  display: none;
}

.slick-prev:before {
  display: none;
} */

.slick-next {
  position: absolute !important;
  left: 52% !important;
  top: 118% !important;
  width: 73px !important;
  height: 74px !important;
}

.special-label {
  display: none;
}

.form-control {
  padding-left: 50px !important;
}
