.mainContainer {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.formMobileArea {
  display: none;
}

.heroSectionBackground {
  background-color: #2645e6;
  height: fit-content;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.ourCustomerBackground {
  background-color: #fff;
  height: fit-content;
  width: 100%;
}

.completeSolutionBackground {
  background-color: rgba(38, 69, 230, 0.05);
  height: fit-content;
  width: 100%;
  clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
}

.virtualReceptionist {
  background-color: #fff;
  height: fit-content;
  width: 100%;
}

.growSalon {
  background-color: #fff;
  height: fit-content;
  width: 100%;
}

.alreadyChosen {
  background-color: rgba(38, 69, 230, 0.05);
  height: fit-content;
  width: 100%;
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 90%);
}

.exagonInAction {
  background-color: #fff;
  height: fit-content;
  width: 100%;
}

.footerSection {
  position: relative;
  z-index: 1;
  margin-top: -265px;
  background-color: #f4f6fe;
  height: fit-content;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 29%, 100% 100%, 0 100%, 0 31%);
}

.formArea {
  width: 48%;
  position: absolute;
  top: 185px;
  left: 50%;
}

.positionRelative {
  position: relative;
}

@media (max-width: 1200px) {
  .formArea {
    top: 140px;
  }
}

@media (max-width: 500px) {
  .formArea {
    display: none;
  }
  .formMobileArea {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    animation: swingParent ease-in-out 300ms;
  }
  .formMobileAreaHidden {
    animation: swingParentback ease-in-out 300ms;
    animation-fill-mode: forwards;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    /* display: none; */
  }
  .heroSectionBackground {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
  }
  .completeSolutionBackground {
    clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
  }
  .alreadyChosen {
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 97%);
  }
  .footerSection {
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  }
  .growSalon {
    padding: 0 0 50px;
  }
}

@keyframes swingParent {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes swingParentback {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(500px);
    display: none;
  }
}
